*{
	margin: 0;
	padding: 0;
}
@media screen and (max-width:1280px){
   section{
      width:100%;
   }
}
@media screen and (max-width:1232px){
   section{
      width:100%;
   }
}
@media screen and (max-width:769px){
   section{
      width:100%;
   }
}
@media screen and (max-width:481px){
   section{
      width:100%;
   }
}

@media print {
  body { font-size: 10pt }
}

@page { margin: 2cm; }

@page :first {
    margin-top: 5cm;
}


@font-face {
  font-family: "Allura";
  font-style: normal;
  font-weight: 400;
  src: local('Allura'), local('Allura-Regular'), url(http://fonts.gstatic.com/s/allura/v4/FLAoFX-vpy77zHrLRItOdPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2'), url(http://fonts.gstatic.com/s/allura/v4/6YDnjvBg8yyWnJdhNMhgLPesZW2xOQ-xsNqO47m55DA.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: "Tangerine";
  font-style: normal;
  font-weight: 100;
  src: local('Tangerine'), 
	url(http://fonts.gstatic.com/s/tangerine/v5/HGfsyCL5WASpHOFnouG-RFtXRa8TVwTICgirnJhmVJw.woff2) format('woff2'), url(http://fonts.gstatic.com/s/tangerine/v5/HGfsyCL5WASpHOFnouG-RD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

h1 {
	color: #FFFFFF;
	font-family: "Allura", Helvetica, Verdana ;
	margin: 1em auto;
	padding-bottom: 0em;
	text-align: center;
	text-shadow: 5px 5px 10px;
	font-size: 8em;
}

h2 {
	color: #FF0000;
	font-family: "Allura", Helvetica, Verdana ;
	margin: 0.5em auto;
	padding-bottom: 0.10em;
	text-align: center;
	font-size: 1.5em;
}

h5 {
	color: #FF0000;
	font-family: "Tangerine", Helvetica, Verdana;
	text-align: center;
	padding-bottom: 0.50em;
	font-size: 0.75em;
}

img {
	width: 100%;
}
img.ico {
	max-width: 16px;
	max-height: 16px;
}

img.icogrande {
	max-width: 50px;
	max-height: 50px;
}

img.marco2  {
   padding:8px;
   background-color: #f5f5f5;
   width: 100%;
   border-bottom: 1px solid #999999;
   border-right: 1px solid #999999;
}

/* texto deslizante */
#ex4 {
   width: 100%;
   height: 75%;
   line-height: 0px;
   color: transparent; font-size: 50px;
   font-family: "Allura", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 300;
   text-transform: uppercase;
   -webkit-transition: all 0.5s ease;
   -moz-transition: all 0.5s ease;
   -ms-transition: all 0.5s ease;
   transition: all 0.5s ease;
}
#ex4:hover {
   line-height: 133px;
   color: #575858;
}
#ex4 img{ float: left;
   margin: 0 15px;
}
/* texto deslizante */

/* texto luminosidad */
/*Example 5*/
#containerEx5 {
	background: #ccc;
	padding: 10px;
	margin-top: 10px;
}
#ex5 {
	width: 100%;
	margin: 0 auto;
	min-height: 35%;
}
#ex5 img {
	margin: 25px;
	opacity: 0.8;
	border: 10px solid #eee;
	
	/*Transition*/
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	
	/*Reflection*/
	-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.1)));
}
#ex5 img:hover {  
   opacity: 1;
   
   /*Reflection*/
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(.7, transparent), to(rgba(0,0,0,0.4)));
 
   /*Glow*/
  -webkit-box-shadow: 0px 0px 20px rgba(000,000,000,0.8);
  -moz-box-shadow: 0px 0px 20px rgba(000,000,000,0.8);
  box-shadow: 0px 0px 20px rgba(000,000,000,0.8);
}
/* texto luminosidad */

/* imagen zoom */
#container {
   width: 75%;
   margin: 0 auto;
}
#ex2 img{
   height: 50%;
   width: 75%;
   margin: 15px 0;
   -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -ms-transition: all 1s ease;
   transition: all 1s ease;
}
#ex2 img:hover {
   height: 133px;
   width: 400px;
   margin-left: -50px;
}
/* imagen zoom */

/* imagen giro */
#containerEx3 {
   width: 70%;
   margin: 0 auto;
}
#ex3 img {
   margin: 10px;
   border: 5px solid #eee;
   -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
   -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
   box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
   -webkit-transition: all 0.5s ease-out;
   -moz-transition: all 0.5s ease;
   -ms-transition: all 0.5s ease;
}
#ex3 img:hover {
   -webkit-transform: rotate(-7deg);
   -moz-transform: rotate(-7deg);
   -ms-transform: rotate(-7deg);
   transform: rotate(-7deg);
}
/* imagen giro */

header {
	max-width: 98%;
	padding: 0.25em;
	text-align: center;
}

header.fondo {
	background: #FFFFFF;
	max-width: 98%;
	padding: 0.25em;
	text-align: center;	
}

body {
	background-color: #cccccc;
	color: #000000;
	font-family: Verdana, Helvetica;
	font-size: 1em;
	text-align: justify;
}

aside.texto {
	background-color: #FFFFFF;
	color: #000000;
	font-family: Comic Sans;
	font-size: 1em;
	text-align: center;
}
aside.lista {
	background-color: #FFFFFF;
	color: #000000;
	font-family: Comic Sans;
	font-size: 1em;
	text-align: center;
}

section#contenedor {
	margin: auto;
	padding: 0.5em;
	text-align:center;
}

section#principal, aside {
	background: #FFFFFF;
	text-align: justify;
	display: inline-block;
	border-radius: 2em;
	margin: 0.25em auto;
	max-width: 960px;
	min-height: 200px;
	padding: 0.50em;
	text-align: center;
	vertical-align: top;
	width: 35%;
}

article {
	background: #FFFFFF;
	border-radius: 0.5em;
	min-height: 140px;
	padding: 0.25em;
	width: 75%;
}

aside {
	text-align: justify;
	width: 50%;
}

linkinterior {
	text-align:center;
}

div.linkinterior {
	text-align:center;
}

hr {
	width: 50%;
}

p.arreglar {
	font-family: Courrier;
	font-size: .85em;
	text-align: center;
}

cite.hoy {
	font-family: "Times New Roman";
	font-size: 1.15em;
	text-align: center;
}

footer {
	max-width: 100%;
	text-align: center;
	font-size: 1em;
}



/* Estilo para el cuerpo del documento print.css*/ 



body {
	font-family: Arial, Verdana, Helvetica;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

/*formato de imagenes*/
/* COMMON CLASSES */
.break { clear:both; }

/* WRAPPER */
#wrapper { width:960px; margin:40px auto; }

/* CONTENT */
#content { }
#content .info { padding:10px; }

/* MOVIE POSTERS */
#movieposters { list-style:none; margin:100px 0; height:550px; }
#movieposters li { display:inline; float:left;
	-webkit-perspective: 500; -webkit-transform-style: preserve-3d;
	-webkit-transition-property: perspective; -webkit-transition-duration: 0.5s; }
#movieposters li:hover { -webkit-perspective: 5000; }
	
#movieposters li img { border:10px solid #fcfafa; -webkit-transform: rotateY(30deg);
	-moz-box-shadow:0 3px 10px #888; -webkit-box-shadow:0 3px 10px #888;
	-webkit-transition-property: transform; -webkit-transition-duration: 0.5s; }
#movieposters li:hover img { -webkit-transform: rotateY(0deg); }

.movieinfo { border:10px solid #fcfafa; padding:20px; width:200px; height:180px; background-color:#deddcd; margin:-195px 0 0 55px; position:absolute;
	-moz-box-shadow:0 20px 40px #888; -webkit-box-shadow:0 20px 40px #888;
	-webkit-transform: translateZ(30px) rotateY(30deg);
	-webkit-transition-property: transform, box-shadow, margin; -webkit-transition-duration: 0.5s; }
	
#movieposters li:hover .movieinfo { -webkit-transform: rotateY(0deg); -webkit-box-shadow:0 5px 10px #888; margin:-175px 0 0 30px; }
	
.movieinfo h3 { color:#7a3f3a; font-variant: small-caps; font-family:Georgia,serif,Times; text-align:center; padding-bottom:15px; }
.movieinfo p { padding-bottom:15px; }
.movieinfo a { background-color:#7a3f3a; padding:5px 10px; color:#eee; text-decoration:none; display:block; width:80px; text-align:center; margin:0 auto;
	-moz-border-radius:5px; -webkit-border-radius:5px; }
.movieinfo a:hover, .movieinfo a:focus { background-color:#6a191f; color:#fff; }

